<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Springmvc</display-name>

	<!-- 使用ContextLoaderListener配置时，需要告诉它Spring配置文件的位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- SpringMVC的前端控制器 -->
	<!-- 当DispatcherServlet载入后，它将从一个XML文件中载入Spring的应用上下文，该XML文件的名字取决于<servlet-name> -->
	<!-- 这里DispatcherServlet将试图从一个叫作Springmvc-servlet.xml的文件中载入应用上下文，其默认位于WEB-INF目录下 -->
	<servlet>
		<servlet-name>Spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Spring</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<!-- 配置上下文载入器 -->
	<!-- 上下文载入器载入除DispatcherServlet载入的配置文件之外的其他上下文配置文件 -->
	<!-- 最常用的上下文载入器是一个Servlet监听器，其名称为ContextLoaderListener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>